table {
  width: 100%;
}

.search {
  outline: none;
  border: 1px solid #aaa;
  padding: 8px 10px;
  border-radius:3px;

}

.search:focus{
  border: 1px solid #bbb;
}

.add-button{
  font-size: 10px;
  left: 5px;
  white-space: normal;
}
