.top-row {
  padding: 1em 0; /* the zero is for left and right; 1em from the top and bottom*/
}

.mat-form-field {
width: 100%;
}

.image {
  height: 200px;
  width: 200px;

}

image-container
 {
  background-color: #f7f7f7;
  border: 2px solid #ccc;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
 }
